@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.fadeIn {
  animation: fadeInAnimation 2.2s;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOutAnimation 2.5s;
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.navbg {
  background-color: #fcc201;
}

.pagebg {
  background-image: url(images/pexels-skitterphoto.jpg);
  background-color: #191b1e;
}

.searchbg {
  background-image: url(images/txture.png);
  background-color: #31363b;
}

.mainbg {
  background-image: url(images/txture.png);
  background-color: #31363b;
}

.btn {
  @apply min-h-[50px] max-h-[50px] rounded-full bg-green-500 px-3 uppercase text-base font-semibold cursor-pointer tracking-wider hover:scale-105 ease-in duration-100;
}

.btn-friend-accept {
  @apply h-[35px] w-[35px] rounded-full bg-green-500 px-2 uppercase text-sm font-semibold cursor-pointer hover:scale-105 ease-in duration-100;
}

.btn-friend-decline {
  @apply h-[35px] w-[35px] rounded-full bg-red-500 px-2 uppercase text-sm font-semibold cursor-pointer hover:scale-105 ease-in duration-100;
}

.btn-clicked {
  @apply min-h-[50px] max-h-[50px] rounded-full bg-navbar px-3 uppercase text-base font-semibold cursor-pointer tracking-wider hover:scale-105 ease-in duration-100;
}

.react-rouer-link {
  text-decoration: none;
}

.media-avatar {
  @apply relative flex overflow-hidden justify-center h-[70px] w-[70px] rounded-full border-double;
}

.media-avatar-outer {
  @apply relative flex overflow-hidden justify-center items-center h-[90px] w-[80px] hover:scale-125 ease-in duration-100 rounded-full border-double;
}

.media-avatar-chat {
  @apply h-[80px] w-[85%] mx-auto max-w-none rounded-full border-black border-double ring-2 ring-white hover:scale-105 ease-in duration-100;
}

.media-avatar-popout {
  @apply inline-block min-w-[18px] min-h-[18px] max-w-[18px] max-h-[18px] rounded-full border-black border-double hover:scale-125 ease-in duration-100;
}

.add-to-watch-popout {
  @apply inline-block min-w-[18px] min-h-[18px] max-w-[18px] max-h-[18px] rounded-full border-black text-emerald-500 border-double hover:scale-125 ease-in duration-100;
}

.remove-from-watch-popout {
  @apply inline-block min-w-[18px] min-h-[18px] max-w-[18px] max-h-[18px] rounded-full border-black text-rose-500 border-double hover:scale-125 ease-in duration-100;
}

.rating-face-popout {
  @apply inline-block h-4 w-4 rounded-full border-black border-double hover:scale-125 ease-in duration-100;
}

.like-btn {
  @apply text-7xl text-inputtext hover:text-green-500 cursor-pointer;
}

.like-btn-sml {
  @apply min-w-[18px] min-h-[18px] max-w-[18px] max-h-[18px] text-slate-400 hover:text-slate-500 cursor-pointer;
}

.like-btn-sml-clicked {
  @apply min-w-[18px] min-h-[18px] max-w-[18px] max-h-[18px] text-green-500 cursor-pointer;
}

.like-btn-clicked {
  @apply text-7xl  text-green-500 cursor-pointer;
}

.meh-btn {
  @apply text-7xl text-inputtext hover:text-amber-500 cursor-pointer;
}

.meh-btn-sml {
  @apply min-w-[18px] min-h-[18px] max-w-[18px] max-h-[18px] text-slate-400 hover:text-slate-500 cursor-pointer;
}

.meh-btn-sml-clicked {
  @apply min-w-[18px] min-h-[18px] max-w-[18px] max-h-[18px] text-amber-500 cursor-pointer;
}

.meh-btn-clicked {
  @apply text-7xl  text-amber-500 cursor-pointer;
}

.dislike-btn {
  @apply text-7xl text-inputtext hover:text-red-500 cursor-pointer;
}

.dislike-btn-clicked {
  @apply text-7xl  text-red-500 cursor-pointer;
}

.dislike-btn-sml {
  @apply min-w-[18px] min-h-[18px] max-w-[18px] max-h-[18px] text-slate-400 hover:text-slate-500 cursor-pointer;
}

.dislike-btn-sml-clicked {
  @apply min-w-[18px] min-h-[18px] max-w-[18px] max-h-[18px] text-slate-400 text-red-500 cursor-pointer;
}
